* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 1rem;
  background-color: #f8fbfb;
}

.App-Header {
  text-align: center;
  margin-top: 1.2rem;
}

.App-Container {
  background-color: #f2f4f7;
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem;
}
